body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("https://s2.postimg.org/98212qd4p/photo_1418065405408_4ce6db0edded.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}
